.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.table {
  border-collapse: collapse;
  margin: auto;

  & tbody {
    & th {
      text-align: right;
    }

    & td {
      text-align: center;
    }
  }

  & thead th {
    text-align: center;
  }

  & th, & td {
    border: 1px solid;
    padding: 0.25em 0.5em;
  }

  & tr:hover {
    background-color: var(--hover-color);
  }

  &:has(td:nth-of-type(1):hover) {
    & thead th:nth-of-type(2), & td:nth-of-type(1) {
      background-color: var(--hover-color);
    }
  }
  &:has(td:nth-of-type(2):hover) {
    & thead th:nth-of-type(3), & td:nth-of-type(2) {
      background-color: var(--hover-color);
    }
  }
  &:has(td:nth-of-type(3):hover) {
    & thead th:nth-of-type(4), & td:nth-of-type(3) {
      background-color: var(--hover-color);
    }
  }
  &:has(td:nth-of-type(4):hover) {
    & thead th:nth-of-type(5), & td:nth-of-type(4) {
      background-color: var(--hover-color);
    }
  }
  &:has(td:nth-of-type(5):hover) {
    & thead th:nth-of-type(6), & td:nth-of-type(5) {
      background-color: var(--hover-color);
    }
  }
  &:has(td:nth-of-type(6):hover) {
    & thead th:nth-of-type(7), & td:nth-of-type(6) {
      background-color: var(--hover-color);
    }
  }
  &:has(td:nth-of-type(7):hover) {
    & thead th:nth-of-type(8), & td:nth-of-type(7) {
      background-color: var(--hover-color);
    }
  }
  &:has(td:nth-of-type(8):hover) {
    & thead th:nth-of-type(9), & td:nth-of-type(8) {
      background-color: var(--hover-color);
    }
  }
  &:has(td:nth-of-type(9):hover) {
    & thead th:nth-of-type(10), & td:nth-of-type(9) {
      background-color: var(--hover-color);
    }
  }
}

.notch {
  & thead th:nth-of-type(1) {
    border-top: none;
    border-left: none;
  }
}

.total > *{
  background-color: #FF610555
}

#seed {
  width: 4em;
}

#splash {
  height: clamp(15em, 30vh, 40em);
  display: block;
  margin: auto;
}

#steps {
  list-style: none;
  padding: 0;

  & li {
    margin-top: 1em;
    align-items: center;
  }

  display: flex;
  flex-direction: column;
  align-items: center;

  & h2 {
    margin-top: 0;
  }
}

.flex {
  display: flex;
}

#sheet {
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  width: 100%;

  & input:first-of-type {
    width: 30em;
    font-size: calc(var(--font-size) * 0.75);
  }

  & input[type=submit] {
    margin-left: auto;
    margin-top: 0.25em;
  }
}

*.outline {
  border: 4px double;
  padding: 0.5em;
}
